// Trails scroller
.trails {
	min-height: 11rem;

	li {
		transition: all 0.5s ease;
		padding: 5rem 3.75rem;
	}

	&.selected li:not(.selected) {
		opacity: 0.2;
		filter: saturate(0.25);
	}

	li.selected {
		background: #fff;
		position: sticky;
		left: 1em;
		right: 1em;
		z-index: 10;
		box-shadow: 0 0 1.5em 2em #fff;
	}
}

// Profiles list & icons
.profiles {
	display: flex;
	justify-content: center;
	font-size: var(--s);

	li {
		text-align: center;
		margin: var(--s);
	}

	svg,
	img {
		display: block;
		margin: 0 auto var(--xs);
		height: var(--xxxl);
	}

	input {
		display: none;

		&:checked ~ * { color: var(--color-primary); }
	}
}

.advanced-filters {
	.column {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}
