.block-image {
	@extend .row;

	padding: 4rem;

	figure {
		@extend .col;
		@extend .col--3;
	}

	.box {
		margin: var(--spacing) 0 -4rem -7rem;
	}

	&__desc {
		@extend .col;
		@extend .col--2;

		z-index: 1;
		margin-top: auto;
		margin-left: var(--spacing);
	}
}
