.block-video {
	padding-left: 6rem !important;

	h1 { margin: 0 0 -0.5em -0.5em; }
}

.block-image {
	display: flex;
	padding: 2rem;
	flex-direction: row !important;

	figure {
		flex: 0 0 60%;
		margin-right: 0;
	}

	section {
		margin-top: auto;
		z-index: 1;
	}

	.box { margin: var(--spacing) 0 -5rem -10rem; }
}
