.card {
	flex: 0;
	appearance: none;
	position: relative;
	display: block;
	background: transparent;
	vertical-align: top;
	font-size: var(--l);
	margin: 0.75rem 0 0;

	& + & { margin-left: 1.5rem; }

	figure {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		margin: 0;
		mask-image: linear-gradient(to bottom, #0008 0%, #000 30%);
	}

	h5 {
		margin: -0.5em 0 0 -0.5em;
		position: absolute;
		top: 0;
		left: 0;
	}
}
