section {
	margin: var(--spacing);
}

section[data-tag-pre],
section[data-tag] {
	position: relative;
	counter-increment: counter__section;
	padding: 0 calc(2.5 * var(--spacing));

	&::before,
	&::after {
		content:
			attr(data-tag)
			'\00a0\00a0\00a0\00a0-----------\00a0\00a0\00a0\00a0'
			counter(counter__section, decimal-leading-zero);
		display: flex;
		text-transform: uppercase;
		font-weight: bold;
		writing-mode: vertical-rl;
		font-size: var(--s);
		white-space: nowrap;
		font-family: var(--text-family--title);
		position: absolute;
	}

	&::before {
		top: 0;
		left: 0;
		transform: rotate(180deg);
	}

	&::after {
		bottom: 0;
		right: 0;
	}
}

section[data-tag-pre] {
	padding-right: 0;

	&::before {
		content:
			attr(data-tag-pre)
			'\00a0\00a0\00a0\00a0-----------\00a0\00a0\00a0\00a0'
			counter(counter__section, decimal-leading-zero);
	}
	&::after { display: none; }
}

section[data-tag-pre].reverse {
	padding-right: calc(2.5 * var(--spacing));
	padding-left: 0;

	&::before {
		left: auto;
		right: 0;
		transform: none;
	}
}
