@import
	'list',
	'shadow',
	'blocks',
	'section',
	'tooltip',
	'navigation';

.stack {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.center { margin: auto; }

.app {
	@extend .stack;

	height: 100vh;
	font: 1rem / 1.2 'Roboto', 'Arial', sans-serif;
	color: var(--text-color);
	padding: var(--spacing);
	user-select: none;
	counter-reset: counter__section;

	&__header {
		display: flex;
		align-items: center;
		position: relative;
		justify-content: center;
		margin: var(--spacing);
	}

	&__logo {
		color: inherit;
		height: 52px;

		img,
		svg { height: 100%; }
	}
}

.box {
	background: var(--color-dark);
	color: var(--color-light);
	padding: 2rem 3rem;
	z-index: 2;

	&--alert { background: var(--color-alert); }
}
