@import
	'nav-bar',
	'section',
	'box',
	'columns',
	'blocks',
	'list',
	'scroller',
	'tooltip',
	'shadow',
	'navigation',
	'stats';

.stack {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.center { margin: auto; }

.ungutter { margin: 0 calc(-1 * var(--spacing)); }

.app {
	@extend .stack;

	height: 100vh;
	font: 1rem / 1.2 'Roboto', 'Arial', sans-serif;
	color: var(--text-color);
	padding: var(--spacing);
	user-select: none;
	counter-reset: counter__section;

	&__header {
		display: flex;
		align-items: center;
		position: relative;
		justify-content: center;
		margin: var(--spacing);
	}

	&__menu-link {
		color: inherit;
		height: 52px;
		text-align: center;
		font-size: 0.5rem;
		text-transform: uppercase;

		img,
		svg {
			display: block;
			margin: 0 auto;
			height: 100%;
			margin-bottom: 0.5rem;
		}
	}
}

.loading {
	margin: auto;
	color: #0005;
	font-size: 1.3em;
}
