// CARD COMPONENT ----------------------------
.card {
	flex: 0;
	appearance: none;
	position: relative;
	display: block;
	background: transparent;
	vertical-align: top;
	margin: 0.75rem 0 0;
	z-index: 0;
	border-radius: var(--border-radius);

	figure {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		margin: 0;
		z-index: -1;
		mask-image: linear-gradient(to bottom, #0008 0%, #000 30%);
	}

	h4 {
		margin: -0.5em 0 0 -0.5em;
		position: absolute;
		top: 0;
		left: 0;
	}
}
