.map {
	height: 100%;
	position: relative;
}

.explore-route {
	stroke: var(--color-primary);
	stroke-width: 5;
}

.map-compare-thumb {
	background-color: var(--color-dark);
	.map-compare-end & { box-shadow: 0 0 0 1rem #0004; }
}

@keyframes trace-path { to { stroke-dashoffset: 0; } }
