img { max-width: 100%; }

figure {
	position: relative;
	margin: var(--spacing);

	img { display: block; }

	figcaption { opacity: 0.5; }
}

figure.attribution figcaption {
	font-size: 0.5rem;
	display: inline-block;
	color: #fff;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0.5em 1em;
	font-weight: lighter;
	opacity: 0.75;
}

figure.cover img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.faded { filter: saturate(0.5) opacity(0.9); }
