%title {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 1;
  line-height: 1;
  margin: 0.25em 0;
  font-family: var(--text-family--title), Arial, sans-serif;
}

h1,
%h1,
.text-xxxl {
  @extend %title;

  font-size: var(--xxxl);
}

h2,
%h2,
.text-xxl {
  @extend %title;

  font-size: var(--xxl);
}

h3,
%h3,
.text-xl {
  @extend %title;

  font-size: var(--xl);
}

h4,
%h4,
.text-l {
  @extend %title;

  font-size: var(--l);
}

h5,
%h5,
.text-m {
  @extend %title;

  font-size: var(--m);
}

.text-xxxl,
.text-xxl,
.text-xl,
.text-l,
.text-m { line-height: 1; }

p { margin: 1em 0; }

.note { opacity: 0.5; }

strong { font-weight: bold; }
i { font-style: italic; }
big { font-size: 1.5em; }
small { font-size: 0.75em; }

sup {
  font-size: 0.75em;
  vertical-align: super;
}

sub {
  font-size: 0.75em;
  vertical-align: sub;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-weight: bold;
  outline: 0;
}

.formula {
  white-space: nowrap;
}
