@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Roboto:wght@300&display=swap');

:root {
  // COLOR
  --color-dark: #2d2c2f;
  --color-light: #fff;
  --color-primary: #7cb46c;
  --color-success: #7d7;
  --color-alert: #c23b22;

  // SIZE
  font-size: 18px;

  --xxxl: 3rem;
  --xxl: 2rem;
  --xl: 1.5rem;
  --l: 1.25rem;
  --m: 1rem;
  --s: 0.75rem;
  --xs: 0.5rem;
  --size-touch: var(--xxxl);

  // SPACING
  --spacing: var(--xl);
  --border-radius: 5px;

  // TYPOGRAPHY
  --text-size: 18px;
  --text-color: var(--color-dark);
  --text-family: 'Roboto';
  --text-family--title: 'Jost';

  // BUTTON
  --button-padding: 1.5rem;
  --button-bg-color: var(--color-dark);
  --button-text-color: var(--color-light);

  // ANIMATIONS
  --fade-offset: 1rem;
}
